In [1]:
# Q1) Explain with an example each when to use a for loop and a while loop

In [16]:
#For loop

# We use for loop when we know the exact number of times a loop needs to be executed.
#For eg: here we want to print al the list elements. We know there are only 4 elements. Hence we use for loops

l1 = ['pwskills','data science','javascript full stack','java']
for i in l1:
    print(i)

pwskills
data science
javascript full stack
java

In [19]:
#While loop

#While loop is used when we don't know the exact number of times the loop to be executed. 
#for eg:- Here we need to divide a number by 2 until the result is less than 1 or 1.
#we don't know the exact number of times we need to itertate a loop. ( We do not know the upper limit in this case)

num = int(input("Enter a num greater than 1: "))
count = 0
while num >=1:
	num = num/2
	count = count + 1
print(count)

Enter a num greater than 1:  120

7

In [2]:
# Q2) Write a python program to print the sum and product of the first 10 natural nuumbers using a for loop and while loop

In [3]:
#Using for loop

num = 0
summ = 0
num1=1
summ1=1
for num in range(1,11):
    summ = summ + num
    num = num +1
print("The sum of 1st 10 natural number is ",summ)    
for num1 in range (1,11):
    summ1=summ1*num1
    num1=num1+1
print("The product of 1st 10 natural number is ",summ1)

The sum of 1st 10 natural number is  55
The product of 1st 10 natural number is  3628800

In [4]:
#Using for while loop

num = 0
summ = 0
num1=1
summ1=1
while num<=10:
    summ = summ + num
    num = num +1
print("The sum of 1st 10 natural number is ",summ)    
while num1<=10:
    summ1=summ1*num1
    num1=num1+1
print("The product of 1st 10 natural number is ",summ1)

The sum of 1st 10 natural number is  55
The product of 1st 10 natural number is  3628800

In [ ]:
# Q3 Create a python program to compute the electricity bill for a household

In [5]:
unit = int(input("Enter the units"))

if unit <= 100:
    amt = 4.5*unit
elif unit >100 and unit <=200:
    amt = (4.5 * 100) + ((unit-100)*6)
elif unit >200 and unit <=300:
    amt = (4.5 *100) + (100*6) + ((unit-200)*10)
else:
    amt = (4.5*100) + (100*6) + (100*10) + ((unit-300)*20)   
    
print(amt)

Enter the units 310

2250.0

In [6]:
# Q4 Create a list of numbers frm 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5, then append that number in a list and print that list.

In [12]:
l1 = list(range(1,101))
l2=[]
for i in l1:
    l2.append(i*i*i)
l3=[]
for j in l2:
    if j%5 == 0 or j%4==0:
            l3.append(j)
print('The cube of the numbers are:  ', l2, '\n')
print('The numbers which are divivded by 4 or 5 are:   ', l3)

The cube of the numbers are:   [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

The numbers which are divivded by 4 or 5 are:    [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [13]:
# Q5 Write a program to filter count vowels in the below - given string
  # string = i want to become a data scientist

In [15]:
str1= "i want to become a data scientist"
count = 0
for i in str1:
    if (i == 'a' or i =='e' or i=='i' or i=='o' or i=='u'):
        count = count+1
count

12